# Vivado / AMD Design Tools
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.xpr
*.log
*.jou
xsim.dir/
xsim.ini
*.pb
*.str
*.wdb
.Xil/

# Simulation outputs
sim.vvp
*.vcd

# Ignore local Vivado project directories
behavioural_modelling_codes/
data_flow_modelling_codes/
*bcdadder*/
project_abhi/
projects/
